<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="erp.skoolerp">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name="erp.skoolerp.Wschool"
        android:allowBackup="false"
        android:largeHeap="true"
        android:icon="@mipmap/skoologo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/skoologo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity android:name="erp.skoolerp.Splash_screen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="erp.skoolerp.Login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>

        <activity android:name="erp.skoolerp.Student_selection"
            android:screenOrientation="portrait"></activity>

        <activity android:name="erp.skoolerp.Employactivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"></activity>

        <activity android:name="erp.skoolerp.Studentactivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask">
        </activity>

        <activity android:name="erp.skoolerp.utils.TraknpayRequestActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name="erp.skoolerp.utils.TraknpayResponseActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name="erp.skoolerp.Fragment.PayuMoneyRequest"
            android:screenOrientation="portrait">
        </activity>

        <service
            android:name="erp.skoolerp.utils.FBInstanceIDservice">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name="erp.skoolerp.utils.FBMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDncJUIPUikmnpMXScyyBgjOyIvz4uAzyk" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>